<div class="todoitem">
  <div>
    <span class="todoitem_title"><%= "#{todoitem.task_title}
      (#{time_ago_in_words(todoitem.created_at)} ago)" %>
    </span>
    <%= link_to "Delete", [@todolist, todoitem],
      data: { confirm: "todoitem will be deleted?" },
      method: :delete %>
  </div>
  <div>
    <%= simple_format(todoitem.description) %>
  </div>
</div>